=font-face-woff ($font-family, $file-path, $font-weight: normal, $font-style: normal)
    @font-face
        font-family: $font-family
        font-weight: $font-weight
        font-style: $font-style
        src: url('#{$file-path}.woff') format('woff')
