* {
    margin: 0;
    padding: 0;
    cursor: default;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 2px 0;
    font-size: 12px;
    line-height: 1.4em;
    font-family: Consolas, Lucida Console, monospace;
    box-sizing: border-box;
}
input, textarea, pre {
    font-size: 12px;
    line-height: 1.4em;
    font-family: Consolas, Lucida Console, monospace;
}

line {
    display: block;
    position: relative;
    margin-left: 24px;
    border-top: #EEE 1px solid;
}
line.prompt::after {
    content: '';
    position: absolute;
    left: -17px;
    top: 4px;
    width: 10px;
    height: 10px;
    white-space: pre-wrap;
    background: url(../image/icon_arrow.svg) no-repeat;
    background-size: 10px auto;
}
line.prompt {
    color: #0080FF;
}
line.error::after {
    content: '';
    position: absolute;
    left: -17px;
    top: 4px;
    width: 10px;
    height: 10px;
    white-space: pre-wrap;
    background: url(../image/icon_error.svg) no-repeat;
    background-size: 10px auto;
}
line.warn::after {
    content: '';
    position: absolute;
    left: -17px;
    top: 4px;
    width: 10px;
    height: 10px;
    white-space: pre-wrap;
    background: url(../image/icon_warn.svg) no-repeat;
    background-size: 10px auto;
}

item {
    display: inline-block;
}

item.err {
    color: #F00;
}
item.undefined {
    color: #999;
}
item.number {
    color: #20C;
}
item.string {
    white-space: pre-wrap;
    color: #C22;
}
item.string::before,
item.string::after {
    content: '"';
    color: #000;
}
item.function {
    white-space: pre-wrap;
    color: #000;
}

item.array {
    display: block;
}
item.array::before {
    content: '[';
}
item.array::after {
    content: ']';
}

item.object {
    display: block;
}
item.object::before {
    content: '{';
}
item.object::after {
    content: '}';
}

item.objectElement {
    display: block;
    margin-left: 2em;
}
item.key {
    float: left;
    margin-right: .5em;
    color: #881391;
}
item.val {
    display: block;
    vertical-align: top;
}

item.node {
    color: #999;
}

item.tag {
    color: #881280;
}
item.tag::before {
    margin-right: -.5em;
    content: '<';
}
item.tag::after {
    content: '>';
}
item.tag-name,
item.tag-attribute {
    margin-left: .5em;
}
item.tag-attribute-name {
    color: #994500;
}
item.tag-attribute-value {
    color: #1A1AA6;
}
item.tag-attribute-value::before,
item.tag-attribute-value::after {
    color: #881280;
}
item.tag-attribute-value::before {
    content: '="';
}
item.tag-attribute-value::after {
    content: '"';
}

#promptLine {
    position: relative;
    clear: right;
    min-height: 1.5em;
}
#promptLine::after {
    background-image: url(../image/icon_arrow_active.svg);
}

#prompt {
    color: #000;
    outline: none;
    -webkit-user-modify: read-write-plaintext-only;
}

#autoComplete {
    position: absolute;
    color: #000;
    background: #FFF;
    border: #AAA 1px solid;
    border-radius: 0 5px 5px 5px;
}
#autoComplete > li {
    padding: 0 3px;
    list-style: none;
    border: transparent 1px solid;
}
#autoComplete > li.active {
    background: #D4D4D4;
}
#autoComplete > li:hover {
    border-color: #CCC;
}

.tips {
    display: none;
    position: fixed;
    padding: .5em 1em;
    color: #FFF;
    background: rgba(0,0,0,0.75);
}
.tips::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -6px;
    margin-left: -6px;
    width: 0;
    height: 0;
    border: transparent solid;
    border-width: 6px 6px 0;
    border-top-color: rgba(0,0,0,.75);
}
.tips.topleft:after {
    left: 0;
    margin-left: 0;
    top: -6px;
    border: transparent solid;
    border-width: 0 6px 6px;
    border-bottom-color: rgba(0,0,0,.75);
}
.tips.active {
    display: block;
}
.tips[name="assignVariables"] {
    position: absolute;
    left: 0;
    bottom: -3em;
}
.tips[name="settings"] {
    left: 61px;
    bottom: 10px;
}
