* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    font-size: 12px;
    line-height: 1.4em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
input, textarea, pre {
    font-size: 12px;
    line-height: 1.4em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

input[type="checkbox"] {
    display: block;
    width: 32px;
    height: 20px;
    -webkit-appearance: none;
    background: linear-gradient(to bottom, #666, #333);
    border-radius: 10px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
}
input[type="checkbox"]::after {
    content: '';
    display: block;
    position: relative;
    margin: 2px;
    width: 16px;
    height: 16px;
    background: linear-gradient(to bottom, #ccc, #fff);
    border-radius: 8px;
    box-shadow: inset 0 0 4px rgba(255,255,255,1), 0 0 2px rgba(0,0,0,.75);
    transition: left .1s ease-out;
}
input[type="checkbox"]:checked {
    background: linear-gradient(to bottom, #1A99D9, #0D8CCC);
}
input[type="checkbox"]:checked::after {
    left: 12px;
}

.container {
    margin: 0 auto;
    padding: 45px 0;
    width: 500px;
}

h2 {
    margin-bottom: 30px;
    font-size: 3em;
    line-height: 2em;
    font-weight: normal;
    color: #CCC;
    border-bottom: #CCC 1px solid;
}

.item {
    margin: 15px 30px;
    line-height: 20px;
}
.item > input {
    float: right;
}

.share {
    padding-top: 50px;
    text-align: center;
}
.share > * {
    padding: 0 10px !important;
}

.logo {
    padding-top: 100px;
    height: 75px;
    background: url(../images/logo.png) no-repeat center bottom;
    background-size: auto 75px;
}

.github {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 134px;
    height: 134px;
}
.github::after {
    content: '__MSG_github_fork__';
    position: absolute;
    right: -45px;
    top: 42px;
    text-align: center;
    color: #FFF;
    width: 200px;
    line-height: 30px;
    background: linear-gradient(to bottom, #333, #000);
    box-shadow: inset 0 0 0 3px #666;
    -webkit-transform: rotateZ(45deg);
}
